<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Unframed Minds</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Unframed Minds</h1>
                <ul class="ul_navbar">
                    <li>
                        <a href="#">
                            <img src="../static/img/moon_50_by_50.png" class="img_rc" width="60%">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/img/sun_50_by_50.png" class="img_rc" width="60%">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/img/plus_50_by_50.png" class="img_rc" width="60%">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/img/user_50_by_50.png" class="img_rc" width="60%">
                        </a>
                    </li>
                </ul>
                
            </header>
            
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>